@(title: String,conf: Option[Map[String, String]]=None)(content: Html)
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">

        <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/homePage/main.css")">

    </head>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("../../public/javascripts/common/ajax.js")"></script>
    <body>
        <header style="height:30px">
            <nav class="navbar navbar-default" style="height:100%">
                <div class="container-fluid" style="height:100%;margin:auto">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        @*<div class="navbar-header">
                        <a class="navbar-brand" href="/">
                        *@@*<img src="/assets/images/brand.png" alt="国贸社区"/>*@@*

                        </a>
                        </div>*@

                        <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="position:relative;height:100%">
                        <ul class="nav navbar-nav" style="float:left">
                            <li class="nav_catering" style="float:left">
                                <div class="nav_home">
                                    <img style="height:20px;margin-left:1px" src="/facew/assets/homePage/images/header/pchome.png" alt=""/>
                                </div>
                                <a href="/" style="float:right;color:#a6873e;padding:1px" class="quickEnterLink">国贸style首页</a>
                            </li>
                            <li style="width:120px;position:absolute;left:140px;z-index:9999;height:100%">
                                <img style="height:22px;float:left;margin-top:4px" src="/facew/assets/homePage/images/header/weixin.png" alt=""/>
                                <a  style="color:#a6873e;margin-left:10px" class="quickEnterLink"
                                onmouseenter="shower('weixiner')" onmouseleave="shower('weixiner')">微信</a>
                                <i style="color:#a6873e" class="fa fa-angle-down" id="weixineri" ></i>
                                <div class="qrcodediv" id="weixiner">
                                    <img id="weixinImg" style="height:100px;margin:10px" src="" alt=""/>
                                </div>
                            </li>
                            <li style="width:120px;position:absolute;left:260px;z-index:9999;height:100%">
                                <img style="height:22px;float:left;margin-top:4px" src="/facew/assets/homePage/images/header/shouji.png" alt=""/>
                                <a  style="color:#a6873e;margin-left:10px" class="quickEnterLink"
                                onmouseenter="shower('shoujier')" onmouseleave="shower('shoujier')" >手机国贸</a>
                                <i style="color:#a6873e" class="fa fa-angle-down" id="shoujieri" ></i>
                                <div class="qrcodediv" id="shoujier">
                                    <img id="phoneImg" style="height:100px;margin:10px" src="" alt=""/>
                                </div>
                            </li>
                        </ul>

                        @*unLogin*@

                        <ul class="nav navbar-nav navbar-right">
                            <li style="line-height:30px;position:absolute;right:545px">Hi，欢迎来到国贸社区！</li>
                            <li style="position:absolute;right:400px">
                            @if(conf.isDefined && (conf.get.getOrElse("utype","") == "3")){
                                <a href="#">欢迎,&nbsp;&nbsp;@conf.get.getOrElse("nickName", "")</a>
                            }else{
                                <a href="/facew/terra/login">您好,&nbsp;&nbsp;请登录</a>
                            }
                            </li>
                            <li class="register" style="position:absolute;right:342px">

                            @if(conf.isDefined && conf.get.getOrElse("utype","") == "3"){
                                <a href="/facew/logout">注销</a>
                            }else{
                                <a href="/customer/register">注册</a>
                            }

                            </li>

                            <li class="nav_catering" style="position:absolute;right:260px;opacity:0.4">
                                <a class="quickEnterLink">我的订单</a>
                            </li>
                            <li class="nav_shopping" style="position:absolute;right:182px;z-index:9999;opacity:0.4" >
                                @*onmouseenter="shower('myword')" onmouseleave="shower('myword')"*@
                                <a href="#" class="quickEnterLink" style="display:inline-block;padding-right:5px;padding-left:10px"
                                >我的国贸</a>
                                <i style="color:#a6873e;font-size:18px" class="fa fa-angle-down" id="mywordi" ></i>
                                <div id="myword" style="padding-left:10px;width:82px;display:none">
                                    <div style="background:#fff;text-align:center;border: 1px solid #eee;">
                                        <a style="margin-top:6px;display:block;color:rgb(218,0,77)">我的收藏</a>
                                        <hr/>
                                        <a >我的余额</a>
                                        <hr/>
                                        <a >我的银元</a>
                                        <hr/>
                                        <a >我的国贸卡</a>
                                        <hr/>
                                        <a >我的优惠券</a>
                                        <hr/>
                                        <a >我的积分</a>
                                        <hr/>
                                        <a >我的贵宾卡</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav_hotel" style="position:absolute;right:82px">
                                <a href="/member" class="quickEnterLink">国贸会员卡</a>
                            </li>

                            <li style="position:absolute;right:0">
                                <a href="/help#help" class="quickEnterLink">帮助中心</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </nav>
        </header>

        <div class="main_content">
        @content
        </div>

        <footer style="width: 100%" id="home_footer">

            <ul class="about_us">
                <li>
                    <a href="javascript:;" class="img">
                        <img src="/facew/assets/homePage/images/footer/phone.png" alt="">
                    </a>
                    <div class="contact_info">
                        <p class="contact_name">
                            +86&nbsp;10&nbsp;
                            65358848
                        </p>
                        <p class="contact_content">传真&nbsp;86&nbsp;10&nbsp;65055735</p>
                        <p class="contact_subcontent"></p>
                    </div>
                </li>
                <li>
                    <a href="javascript:;" class="img">
                        <img src="/facew/assets/homePage/images/footer/email.png" alt="">
                    </a>
                    <div class="contact_info">
                        <p class="contact_name">E-mail</p>
                        <p class="contact_content">
                            tnetstar
                            <span style="color: #a6873e;">@@</span>tnetstar.com
                        </p>
                        <p class="contact_subcontent"></p>
                    </div>
                </li>
                <li>
                    <a href="javascript:;" class="img">
                        <img src="/facew/assets/homePage/images/footer/website.png" alt="">
                    </a>
                    <div class="contact_info">
                        <p class="contact_name">网址</p>
                        <p class="contact_content">
                            www.
                            tnetstar.com
                        </p>
                        <p class="contact_subcontent"></p>
                    </div>
                </li>
                <li>
                    <a href="javascript:;" class="img">
                        <img src="/facew/assets/homePage/images/footer/address.png" alt="">
                    </a>
                    <div class="contact_info" style="width: 250px;">
                        <p class="contact_name">地址</p>
                        <p class="contact_content" style="margin-top: -2px;">
                            中国北京市朝阳区建国门外大街1号 <br>
                            国贸西楼610室
                        </p>
                        <p class="contact_subcontent"></p>
                    </div>
                </li>
            </ul>
            <div class="contact_us">
                <p>
                    <span>
                        <a href="/help#feedback">意见反馈</a>
                    </span>
                    |
                    <span>
                        <a href="/help#help">用户帮助</a>
                    </span>
                    |
                    @*<span>
                    <a href="javascript:;">获得更新</a>
                    </span>
                    |*@
                    <span>
                        <a href="/help#business">商务合作</a>
                    </span>
                    |
                    <span>
                        <a href="/help#us">公司信息</a>
                    </span>
                    |
                    <span>
                        <a href="/help#service">客服电话</a>
                    </span>

                </p>
                @*<img src="/assets/images/guomaobar.jpg" alt="">
                <div class="message">
                <p>通信地址：中国北京市朝阳区建国门外大街1号 国贸西楼610室</p>
                <p>邮政编码：100004</p>
                <p>电话：+86 10 65358848</p>
                <p>传真：+86 10 65055735</p>
                <p>网址：www.tnetstar.com</p>
                <p>E-mail：tnetstar@@tnetstar.com</p>

                </div>*@
            </div>
            <div class="bottomBar">
                <p></p>
                <p>版权所有: 北京时代网星科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增值电信业务经营许可证&nbsp;B2-20040082号</p>
            </div>

        </footer>


        <script >
                $(function(){
                    var pathname = location.pathname.split("/")[1];
                    $('.nav_' + pathname).addClass('active');
                });
    $("#weixinImg").attr({src:route+wSrc});
    $("#phoneImg").attr({src:route+pSrc});

        </script>
        <script>
        var x,n=0,rotINT;
    function startRotate()
    {
        n=n+180;
        x.style.transform="rotate(" + n + "deg)";
        x.style.webkitTransform="rotate(" + n + "deg)";
        x.style.OTransform="rotate(" + n + "deg)";
        x.style.MozTransform="rotate(" + n + "deg)";
        if (n==180 || n==360)
        {
            clearInterval(rotINT);
            if (n==360){n=0}
        }
    }
        function shower(id){
        var divId = "#"+id;
        var iconId = id+"i";
        x=document.getElementById(iconId);
            clearInterval(rotINT);
            rotINT=setInterval(startRotate,1);
        $(divId).toggle();
        }
$("img.lazy").lazyload({
        effect : "fadeIn",
        })
    </script>
    </body>
</html>